{% extends "layout.html" %}
{% block body %}
<div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0"><span class="text-primary">{{params['f_name']}}</span>
                        
                        <span class="text-primary">{{params['l_name']}}</span>
                    
                    <div class="subheading mb-5">
                        {{params['basic_info']}}
                        <a href="mailto:name@email.com">{{params['email']}}</a>
                    </div>
                    <p class="lead mb-5">{{params['about_text']}}</p>
                    <div class="social-icons">
                        <a class="social-icon" href="{{params['linkedin_url']}}"><i class="fab fa-linkedin-in"></i></a>
                        
                        <a class="social-icon" href="{{params['tw_url']}}"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="{{params['fb_url']}}"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-icon" href="{{params['github_url']}}"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />

             <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %}